@model IEnumerable<BloodDonation.Models.BloodViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BloodId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BloodGroupTitle)
        </th>
        <th>Actions</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BloodId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BloodGroupTitle)
            </td>
            <td>
                @Html.ActionLink("View Donors", "DonorList", new { id = item.BloodId })
            </td>
        </tr>
    }

</table>
